[Desktop Entry]
Version=1.0
Name=mv-6pm
Comment=Jack synthetizer
Comment[fr]=Synthétiseur Jack
Exec=mv-6pm
Icon=mv-6pm
Terminal=false
Type=Application
Categories=Audio;AudioVideo;
MimeType=audio/x-mv-6pm;audio/midi;
